name: Continuous Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install poetry
        poetry install --no-root
        
    - name: Build docker file
      run: |
        make deploy
        
    - name: Wait for deployment to complete
      run: |
        sleep 60  
        
    - name: Carry out performance test
      run: |
         locust -f tests/performance_test.py --headless --host=http://localhost:8000 --users=10 --spawn-rate=2 --run-time 1m
        
    - name: clean up
      run: |
        make clean
        
    - name: Deploying to Render
      env:
        RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
        SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
      run: |
        curl -X POST \
          -H "Authorization: Bearer $RENDER_API_KEY" \
          -H "Accept: application/json" \
          -H "Content-Type: application/json" \
          --data '{"serviceId": $SERVICE_ID, "branch": "main"}' \
          https://api.render.com/v1/deploy
